/* font */
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: 700;
}

body {
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

/* reset */

body,
h1,
h2,
h3,
p,
button,
input,
a,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    background-color: transparent;
    border: 0;
    color: inherit;
}

img {
    width: 100%;
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}



/* 부모 요소 */


.login-modal {
    background-color: white;
    max-width: 520px;
    margin: 0 auto;
    /* margin-top: 100px; */
    /* 이거 줄때 닫기 버튼도 같이 마진 먹여짐,
    세로중앙정렬 해결못해서 일단 떨어트리려고 준거였음 */
    border: 1px solid 
    #C4C4C4;
    border-radius: 10px;
    position: relative;
}

.login-modal::after {
    content:'';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    position: fixed;
    z-index: -999;
}




/* header */

.head {
    border-bottom: 1px solid #C4C4C4;
    padding: 20px 0;
}

.head-title {
    text-align: center;
    font-weight: 500;
}

/* main */
.login {
    padding: 26px;
}

.login-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

/* main - form */

.inp-id,
.inp-pw {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}

.inp-id::placeholder,
.inp-pw::placeholder {
    color: #767676;
    font-size: 16px;
}

.inp-pw {
    margin-top: 10px;
}

.hold-check {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    background: url(./images/check-box-off.svg) no-repeat 0 0 / cover;
    vertical-align: -0.2em;
    margin: 16px 4px 0 0;
}

.hold-check:checked {
    background: url(./images/check-box-on.svg) no-repeat 0 0 / cover;
}

.hold-check-label {
    color: #767676;
    cursor: pointer;
}

.login-btn {
    width: 100%;
    background-color: #2F80ED;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.join-search-btn {
    text-align: center;
    margin-top: 20px;
}

.join-search-btn a {
    vertical-align: top;
    color: #767676;
    font-size: 14px;
}

.join-search-btn span {
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #767676;
    margin: 0 12px;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.or span {
    display: inline-block;
    width: 45%;
    height: 1px;
    background-color: #C4C4C4;
}

.or p {
    color: #767676;
    font-size: 14px;
}

.sns-btn-wrap {
    padding-top: 20px;
}


.sns-btn-wrap li {
    text-align: center;
    border-radius: 5px;
}


[class^="button"] a {
    display: block;
    color: #767676;
    padding: 16px;
}

[class^="button"] {
    position: relative;
}


[class^="button"]::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 12px;
    width: 28px;
    height: 28px;
    background-image: url('./images/sns_sprites.png');
}

.button-google::before {
    background-position: -28px -28px;
}

.button-facebook::before{
    background-position: -28px -112px;
}

.button-naver::before{
    background-position: -28px -196px;
}

.button-kakao::before{
    background-position: -28px -280px;
}

.button-google {
    border: 1px solid #767676;
    
}

.button-facebook {
    border: 1px solid #2D9CDB;
}

.button-naver {
    border: 1px solid #00BF18;

}

.button-kakao {
    border: 1px solid #F2C94C;

}

.sns-btn-wrap li + li {
    margin-top: 10px;
}

/* close-btn */

.btn-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top:16px;
    right:26px;
    cursor: pointer;
}

.btn-close img {
    width: 16px;
    height: 16px;
}